.carruselContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.carruselCard {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carruselCard img {
    width: 300px;
    height:auto;
}

.carruselButton {
    background-color: transparent;
    border: 0;
    font-size: 60px;
    width: 40px;
}

