.carruselContainer {
  display: flex;
  justify-content: center;
  height: 370px;
}

.carruselCard {
  width: 60%;
  height: 420px;
  margin: 0 100px;
}

.carruselCard img {
  width: 520px;
  height: 350px;
  border-radius: 10px;
}

.carruselButton {
  background-color: transparent;
  border: 0;
  font-size: 50px;
  width: 2%;
}

.textCard {
  background-color: #fcf9f9;
  border: 1px solid #7cbd1e;
  width: 30%;
  height: 290px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1% 0;
  border-radius: 5px;
}

.textCard img {
  border-radius: 5px;
  height: 100%;
}

.textCard h2 {
  height: 2%;
  color: #7cbd1e;
}

.textCard p {
  height: 50%;
  width: 95%;
  align-self: center;
}

.textCard a {
  width: 20%;
  align-self: center;
  background-color: transparent;
  border: 1px solid #7cbd1e;
  color: #7cbd1e;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
}

.textCard a:hover {
  background-color: #7cbd1e;
  color: white;
}

.card {
  border: 1px solid #7cbd1e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 20px 0;
  height: 350px;
  background-color: white;
  border-radius: 10px;
}

.card img {
    width: 15%;
    align-self: center;
}

.card p {
    margin: 0 5%;
}

.card a {
    padding: 10px 45px;
    border-radius: 2px;
    border: 1px solid #7cbd1e;
    color: #7cbd1e;
    align-self: center;
}

.card a:hover {
    background-color: #7cbd1e;
    color: white;
}

.footerContenedor {
  background-color: red;
}


.ProdCard {
  background-color: white;
  border: 1px #7cbd1e solid;
  margin: 2% 2%;
  border-radius: 10px;
  text-align: center;
}

.ProdCard img {
  width: 300px;
  height: 200px;
  padding: 20px 20px 0px 20px;
}

.ProdCard span p {
  margin: 5px 0 10px 20px;
  font-size: 12px;
  text-align: start;
}

.ProdCard p {
  margin: 5px 0;
}

.ProdCard button {
  margin: 10px 0;
  border-radius: 2px;
  border: 1px solid;
  padding: 10px 50px;
}

.ProductContenedor {
  margin: auto;
  width: 90%;
}

.ProductContenedor h2 {
  margin: 30px 0 0.5% 0;
}

.ProductContenedor h2 a {
  color: #7cbd1e;
}

.ProductContenedor h2 a:hover {
  text-decoration: underline;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Modal span {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.9;
}

.Modal section {
  text-align: center;
  background-color: #fefefe;
  margin: 10% 25%;
  width: 50%;
  height: 300px;
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 15px;
}

.Modal section button {
  width: 40px;
  font-size: 20px;
  height: 40px;
  background-color: white;
  align-self: flex-end;
  margin: 4px;
  border: 1px solid;
  border-radius: 50%;
}
